            <footer class="footer">
                <div class="row text-center pt-3 w-100">
                    <small>Games Manager v1.3 - Created by <a href="https://github.com/fma965" target="_blank">Fma965</a></small>
                </div>
            </footer>
	    </div>
        <script src="/assets/js/zebra_tooltips.min.js "></script>
        <script src="/assets/js/winwheel.min.js"></script>
        <script src="/assets/js/fontawesome.js" ></script>
        <script src="/assets/js/sweetalert.js"></script>
        <script src="/assets/js/tweenmax.js"></script>
        
	    <script src="/assets/js/script.js?ver={{ date().timestamp }}"  type="text/javascript"></script>
    </body>
</html>